/* ==========================================================================
   DARK THEME — NORD COLORS
   ========================================================================== */

/* Color codes used for the theme */
$gray: #4c566a; // Polar Night 3
$dark-gray: mix(#2e3440, $gray, 40%);
$darker-gray: mix(#2e3440, $gray, 60%);
$light-gray: mix(#eceff4, $gray, 50%);

$background: #2e3440; // Polar Night
$background-light: #3b4252; // Polar Night 1
$background-lighter: #434c5e; // Polar Night 2
$text: #eceff4; // Snow Storm 2
$link: #88c0d0; // Frost 2
$link-dark: mix(#2e3440, $link, 25%);
$link-light: mix(#eceff4, $link, 25%);

/* Color codes used for the site */
$danger-color: #bf616a; // Aurora Red
$info-color: #5e81ac; // Frost 4
$notice-color: #4c566a; // Polar Night 3
$success-color: #a3be8c; // Aurora Green
$warning-color: #ebcb8b; // Aurora Yellow

/* Other basic settings for the template */
$border-radius: 4px;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition: all 0.2s ease-in-out;
$masthead-height: 70px;
$navicon-width: 28px;
$navicon-height: 4px;
$sidebar-link-max-width: 250px;
$sidebar-screen-min-width: 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
  --global-base-color: #{$background};
  --global-bg-color: #{$background};
  --global-footer-bg-color: #{$background};
  --global-border-color: #{$light-gray};
  --global-dark-border-color: #{$background-light};
  --global-code-background-color: #3b4252; // Polar Night 1
  --global-code-text-color: #{$darker-gray};
  --global-fig-caption-color: #{$light-gray};
  --global-link-color: #{$link};
  --global-link-color-hover: #{$link-dark};
  --global-link-color-visited: #{$link-light};
  --global-masthead-link-color: #{$text};
  --global-masthead-link-color-hover: #{$background-light};
  --global-text-color: #{$text};
  --global-text-color-light: #{$light-gray};
  --global-thead-color: #{$background-lighter};
}
